@{
    var ImageRootURL = AppSettings.ImageRootURL;
}

<!doctype html>
<html class="no-js" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Two || Jantrik Bootstrap4 Template for Tools, Equipment Store</title>
    <meta name="description" content="Default Description">
    <meta name="keywords" content="E-commerce" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="@ImageRootURL/favicon.png">
    <!-- Google Font css -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">


    <!-- mobile menu css -->
    <link rel="stylesheet" href="~/Content/css/meanmenu.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- nivo slider css -->
    <link rel="stylesheet" href="~/Content/css/nivo-slider.css">
    <!-- owl carousel css -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <!-- slick css -->
    <link rel="stylesheet" href="~/Content/css/slick.css">
    <!-- price slider css -->
    <link rel="stylesheet" href="~/Content/css/jquery-ui.min.css">
    <!-- fontawesome css -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- fancybox css -->
    <link rel="stylesheet" href="~/Content/css/jquery.fancybox.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- default css  -->
    <link rel="stylesheet" href="~/Content/css/default.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/Content/style.css">

    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">

    <!-- modernizr js -->
    <script src="~/Content/js/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Wrapper Start -->
    <div class="wrapper homepage">
        <!-- Header Area Start -->
        <header>
            <!-- Header Top Start -->
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <!-- Header Top left Start -->
                        <div class="col-lg-4 col-md-12 d-center">
                            <div class="header-top-left">
                                <i class="fa fa-truck"></i> FREE SHIPPING  |
                                <i class="fa fa-tag"></i> BEST PRICE
                            </div>
                        </div>
                        <!-- Header Top left End -->
                        <!-- Search Box Start -->
                        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                            <div class="search-box-view">
                                <form action="#">
                                    <input type="text" class="email" placeholder="Search Products" name="product">
                                    <button type="submit" class="submit"></button>
                                </form>
                            </div>
                        </div>
                        <!-- Search Box End -->
                        <!-- Header Top Right Start -->
                        <div class="col-lg-4 col-md-12">
                            <div class="header-top-right">
                                <ul class="header-list-menu f-right">
                                    <!-- track order Start -->
                                    <li>
                                        <a href="#"> <i class="fa  fa-map-marker"></i> track order </a>
                                        <!-- track order Start -->
                                </ul>
                                <!-- Header-list-menu End -->
                            </div>
                        </div>
                        <!-- Header Top Right End -->
                    </div>
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Top End -->
            <!-- Header Bottom Start -->
            <div class="header-bottom header-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-2 col-sm-5 col-5">
                            <div class="logo">
                                <a href="index.html"><img src="@ImageRootURL/logo-dd.png" alt="logo-image"></a>
                            </div>
                        </div>
                        <!-- Primary Vertical-Menu End -->
                        <!-- Search Box Start -->
                        <div class="col-xl-6 col-lg-7 d-none d-lg-block">
                            <div class="middle-menu">
                                <div class="menu">
                                    <ul>
                                        <li><a href="#">Home</a></li>

                                        <li>
                                            <a href=#">Shop</a>
                                            <ul>
                                                <li>
                                                    <a href="#"><img src="@ImageRootURL/AdobeStock_263666983.jpg" alt="logo-image"></a>
                                                    <ul>
                                                        <li><a href="#"><img src="@ImageRootURL/AdobeStock_263666983.jpg" alt="logo-image"></a></li>

                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#"><img src="@ImageRootURL/AdobeStock_263666983.jpg" alt="logo-image"></a>
                                                    <ul>
                                                        <li><a href="#"><img src="@ImageRootURL/AdobeStock_263666983.jpg" alt="logo-image"></a></li>


                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#"><img src="@ImageRootURL/AdobeStock_263666983.jpg" alt="logo-image"></a>
                                                    <ul>
                                                        <li><a href="#"><img src="@ImageRootURL/AdobeStock_263666983-view.jpg" alt="logo-image"></a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Bulk Order</a>
                                        <li><a href="#">About Us</a></li>
                                        <li>
                                            <a href="#">Contact Us</a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Search Box End -->
                        <!-- Cartt Box Start -->
                        <div class="col-lg-3 col-sm-7 col-7">
                            <div class="cart-box text-right">
                                <ul>
                                    <li>
                                        <a href="compare.html"><i class="fa fa-cog"></i></a>
                                        <ul class="ht-dropdown">
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="register.html">Register</a></li>
                                            <li><a href="account.html">Account</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>
                                    <li>
                                        <a href="#"><i class="fa fa-shopping-basket"></i><span class="cart-counter">0</span></a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Cartt Box End -->
                        <!-- Mobile Menu  End -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Bottom End -->
        </header>
        <!-- Header Area End -->

    </div>

   

    @RenderBody()

    <footer class="off-white-bg">
        <!-- Footer Top Start -->
        <div class="footer-top pt-50 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mr-auto ml-auto">
                        <div class="main-news-desc">
                            <div class="news-desc">
                                <h3>Sign Up For Newsletters</h3>
                                <p>Get e-mail updates about our latest shop and special offers.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mr-auto ml-auto">
                        <div class="newsletter-box">
                            <form action="#">
                                <input class="subscribe" placeholder="Enter your email address" name="email" id="subscribe" type="text">
                                <button type="submit" class="submit">subscribe</button>
                            </form>
                        </div>

                    </div>








                </div>
                <div class="row footerraw">
                    <!-- Single Footer Start -->
                    <div class="col-lg-4  col-md-7 col-sm-6">
                        <div class="single-footer">
                            <h3>Contact us</h3>
                            <div class="footer-content">
                                <div class="loc-address">
                                    <span><i class="fa fa-map-marker"></i>123 address here, India.</span>
                                    <span><i class="fa fa-envelope-o"></i>Mail Us : info@decorduty</span>
                                    <span><i class="fa fa-phone"></i>Phone: + 91 123 4568 789</span>
                                </div>
                                <div class="payment-mth"><a href="#"><img class="img" src="@ImageRootURL/footer/1.png" alt="payment-image"></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Start -->
                    <!-- Single Footer Start -->
                    <div class="col-lg-2  col-md-5 col-sm-6 footer-full">
                        <div class="single-footer">
                            <h3 class="footer-title">Information</h3>
                            <div class="footer-content">
                                <ul class="footer-list">
                                    <li><a href="#">Site Map</a></li>
                                    <li><a href="#">Specials</a></li>
                                    <li><a href="#">Offer</a></li>
                                    <li><a href="#">Delivery Information</a></li>
                                    <li><a href="#">Order History</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Start -->
                    <!-- Single Footer Start -->
                    <div class="col-lg-2  col-md-4 col-md-4 col-sm-6 footer-full">
                        <div class="single-footer">
                            <h3 class="footer-title">My Account</h3>
                            <div class="footer-content">
                                <ul class="footer-list">
                                    <li><a href="account.html">My account</a></li>
                                    <li><a href="#">Checkout</a></li>
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">address</a></li>
                                    <li><a href="#">Order status</a></li>
                                    <li><a href="#">Site Map</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Start -->
                    <!-- Single Footer Start -->
                    <div class="col-lg-2 col-md-4 col-sm-6 footer-full">
                        <div class="single-footer">
                            <h3 class="footer-title">customer service</h3>
                            <div class="footer-content">
                                <ul class="footer-list">
                                    <li><a href="account.html">My account</a></li>
                                    <li><a href="#">New</a></li>
                                    <li><a href="#">Gift Cards</a></li>
                                    <li><a href="#">Return Policy</a></li>
                                    <li><a href="#">Your Orders</a></li>
                                    <li><a href="#">Text</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Start -->
                    <!-- Single Footer Start -->
                    <div class="col-lg-2 col-md-4 col-sm-6 footer-full">
                        <div class="single-footer">
                            <h3 class="footer-title">Let Us Help You</h3>
                            <div class="footer-content">
                                <ul class="footer-list">
                                    <li><a href="#">Your Account</a></li>
                                    <li><a href="#">Your Orders</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Text</a></li>
                                    <li><a href="#">Replacements</a></li>
                                    <li><a href="#">Manage </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Start -->
                </div>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Footer Top End -->
        <!-- Footer Bottom Start -->
        <div class="footer-bottom off-white-bg2">
            <div class="container">
                <div class="footer-bottom-content">
                    <p class="copy-right-text">Copyright © <a href="#">DecorDuty</a> All Rights Reserved.</p>
                    <div class="footer-social-content">
                        <ul class="social-content-list">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Footer Bottom End -->
    </footer>
    <!-- Footer End -->
    <!-- Wrapper End -->
    <!-- jquery 3.12.4 -->
    <script src="~/Content/js/jquery-1.12.4.min.js"></script>
    <!-- mobile menu js  -->
    <script src="~/Content/js/jquery.meanmenu.min.js"></script>
    <!-- scroll-up js -->
    <script src="~/Content/js/jquery.scrollUp.js"></script>
    <!-- owl-carousel js -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- slick js -->
    <script src="~/Content/js/slick.min.js"></script>
    <!-- wow js -->
    <script src="~/Content/js/wow.min.js"></script>
    <!-- price slider js -->
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/jquery.countdown.min.js"></script>
    <!-- nivo slider js -->
    <script src="~/Content/js/jquery.nivo.slider.js"></script>
    <!-- fancybox js -->
    <script src="~/Content/js/jquery.fancybox.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- popper -->
    <script src="~/Content/js/popper.js"></script>
    <!-- plugins -->
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/megamenu.js"></script>

    <!-- main js -->
    <script src="~/Content/js/main.js"></script>

</body>

</html>